<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="mystyles.css">
</head>
<body>

<div class="header">
  <h1>Welcome to my site about web technologies</h1>
</div>

<div class="topnav">
  <a href="#">Home</a>
  <a href="#">Services</a>
  <a href="#">About</a>
  <a href="/auth/register" style="float:right">Registration</a>
  <a href="/auth/login" style="float:right">Login</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><a class="refs" href="https://www.keycdn.com/blog/web-development-trends-2019">Web Development Trends 2019</a></h2>
      <h5>March 14, 2019</h5>
      <img class="images" style=height:300px;" src="webdevimg1.jpeg"/>
      <p>Smart developers are always looking ahead for ways to adapt in the ever changing world of web development. As trends emerge, new opportunities will arise. No one could have imagined what the web would look like today 20 years ago, so who knows what the coming decades will hold. Staying on top of the latest web development trends could eventually help you land a job that doesn’t exist yet. <a href="https://www.keycdn.com/blog/web-development-trends-2019">more</a></p>
    </div>
    <div class="card">
      <h2><a class="refs" href="https://www.freecodecamp.org/news/top-web-development-trends-to-look-out-for-in-2019-4f6a03007f22/">Top Web Development trends to look out for in 2019</a></h2>
      <h5>June 2, 2019</h5>
       <img class="images" style=height:300px;" src="webdevimg2.png"/>
      <p>Do you know that nearly 200 websites are pushed out every minute? Sounds astonishing right? But it is a fact and that’s why it is important that every entrepreneur and developer know about the current web development trends.<a href="https://www.freecodecamp.org/news/top-web-development-trends-to-look-out-for-in-2019-4f6a03007f22/">more</a></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <img class="images" style="height:150px;" src="webdevimg3.jpg" />
      <p>I am a beginner web developer.</p>
    </div>
    <div class="card">
      <h3>YouTube</h3>
      <div><iframe class="videos" height="315" src="https://www.youtube.com/embed/UnTQVlqmDQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div><iframe class="videos" height="315" src="https://www.youtube.com/embed/VLm3Y7Odb74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
</div>

<div class="footer">
  <h2></h2>
</div>

</body>
</html>
